/* CUIDADOS */

h1 {
  color: rgb(209, 122, 122);
  font-family: fantasy;
  font-size: 30px;
  text-align-last: center
}

.containerCuidados {
  background-color: blanchedalmond;
}

.card-text1 {
  background-color: white;
  color: rgb(209, 122, 122);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.articleCuidados {
  background-color: rgb(238, 207, 207);
}