/* ESTILO DE LETRA*/

.letraCuidados {
  font-family: 'Gluten', cursive;
  color: black;
}

.letrasDescubre {
  font-family: 'Gluten', cursive;
  color: black;
  text-align: center;
}

.letraDescubre {
  color: rgb(209, 122, 122);
  font-family: fantasy;
  font-size: 90px;
  text-align: center;
}

.titulo1 {
  text-align: center;
  color: black;
  font-family: 'Gluten', cursive
}

.letraComportamientos {
  font-family: 'Gluten', cursive;
  color: black;
}

.navegador:hover .menu {
  display: block;
}